@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

:root {
    --primary-color: #fffcc8;
    --secondary-color: cornflowerblue;
    --color-dark: #1d2231;
    --text-grey: #8390a2;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}

#darkmode {
    background-color: #121212;
    color: var(--primary-color);
}

#darkmode .sidebar,
#darkmode header {
    background-color: #1d2231;
}

#darkmode header {
    box-shadow: 2px 2px 5px rgba(231, 231, 231, 0.2);
}

#darkmode tr:nth-child(even) {
    background-color: #333;
}

.sidebar {
    width: 200px;
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    background-color: var(--primary-color);
    transition: width 300ms;
}

.sidebar-brand {
    padding: 15px 30px;
}

.sidebar-brand h1 {
    font-size: 1.2rem;
}

.sidebar-brand span {
    display: inline-block;
    padding-right: 15px;
}

.sidebar-menu {
    margin-top: 15px;
}

.sidebar-menu li {
    width: 100%;
    margin-bottom: 30px;
    padding-left: 15px;
}

.sidebar-menu a {
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    display: block;
    font-size: 1.2rem;
    color: var(--secondary-color);
}

.sidebar-menu a.active {
    background: var(--secondary-color);
    color: var(--primary-color);
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 30px 0 0 30px;
}

.main-content {
    margin-left: 200px;
}

header {
    background-color: var(--primary-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    position: fixed;
    left: 200px;
    width: calc(100% - 200px);
    top: 0;
    z-index: 999;
    transition: left 300ms;
}

header label,
header h1 {
    font-size: 1.5rem;
    display: inline;
}

header label {
    margin-right: 10px;
}

.mode {
    font-size: 1.5rem;
    cursor: pointer;
}

#nav-toggle {
    display: none;
}

#nav-toggle:checked ~ .main-content header {
    width: calc(100% - 80px);
    left: 80px;
}

header label span {
    font-size: 1.7rem;
    margin-right: 1rem;
    cursor: pointer;
}

main {
    margin-top: 70px;
    padding: 2rem 1.5rem;
    min-height: calc(100vh - 90px);
}

.bg-primary {
    background-color: #0d6efd;
}

.bg-secondary {
    background-color: #ffc107;
}

.bg-ternary {
    background-color: #1e9b60;
}

.information {
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
    width: 95%;
}

.information-solo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 20px;
    border-radius: 10px;
    width: 250px;
    min-height: 150px;
    margin-left: 8px;
    margin-right: 8px;
}

.information-solo div {
    text-align: center;
    font-weight: 700;
}

.information-solo div h1 {
    font-size: 2rem;
}

.information-solo div p {
    font-size: 1rem;
}

.list-box {
    margin-top: 100px;
}

.list-box h1 {
    font-size: 1.1rem;
}

td button {
    border: none;
    font-size: 1.1rem;
    color: red;
    margin-left: 10px;
    background-color: transparent;
}

table {
    border-collapse: collapse;
    margin-top: 15px;
}

thead tr {
    border-top: 1px solid #f0f0f0;
    border-bottom: 1px solid #f0f0f0;
    background-color: var(--secondary-color);
}

thead td {
    font-weight: 700;
}

td {
    padding: 0.5rem 1rem;
    font-size: 0.9rem;
}

td .status {
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin-right: 1rem;
}

tr td:last-child {
    display: flex;
    justify-content: space-evenly;
}

tr:nth-child(even) {
    background-color: var(--primary-color);
}

.table-responsive {
    width: 100%;
    overflow-x: auto;
    position: relative;
}

#nav-toggle:checked + .sidebar {
    width: 80px;
}

#nav-toggle:checked + .sidebar .sidebar-brand,
#nav-toggle:checked + .sidebar li {
    padding-left: 15px;
    text-align: center;
}

#nav-toggle:checked + .sidebar li a {
    padding-left: 0;
}

#nav-toggle:checked + .sidebar .sidebar-brand h2 span:last-child,
#nav-toggle:checked + .sidebar li a span:last-child {
    display: none;
}

#nav-toggle:checked ~ .main-content {
    margin-left: 80px;
}

.main-content {
    transition: margin-left 300ms;
    margin-left: 200px;
}

.search-box {
    margin-bottom: 80px;
}

form {
    margin: 30px 0;
}

label,
input,
select {
    width: 100%;
    display: block;
}

label {
    padding: 8px 0 4px 0;
}

input {
    border: 1px var(--secondary-color) solid;
    border-radius: 5px;
    font-family: sans-serif;
    padding: 8px 8px;
}

select {
    border: 1px var(--secondary-color) solid;
    border-radius: 5px;
    background-color: #fff;
    padding: 8px 8px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

@media only screen and (max-width: 1200px) {
    .sidebar {
        width: 80px;
    }

    .sidebar .sidebar-brand,
    .sidebar li {
        padding-left: 1rem;
        text-align: center;
    }

    .sidebar li a {
        padding-left: 0rem;
    }

    .sidebar .sidebar-brand h2 span:last-child,
    .sidebar li a span:last-child {
        display: none;
    }

    .main-content {
        margin-left: 80px;
    }

    .main-content header {
        width: calc(100% - 70px);
        left: 80px;
    }
}

@media only screen and (max-width: 768px) {
    html {
        font-size: 12px;
    }

    .information {
        width: 100%;
    }

    .information-solo {
        padding: 10px;
        min-height: 100px;
    }

    .sidebar {
        left: -100% !important;
    }

    .main-content {
        width: 100%;
        margin-left: 0;
    }

    header {
        width: 100% !important;
        left: 0 !important;
    }

    #nav-toggle:checked + .sidebar {
        left: 0 !important;
        z-index: 999;
        width: 200px;
    }

    #nav-toggle:checked + .sidebar .sidebar-brand,
    #nav-toggle:checked + .sidebar li {
        padding-left: 15px;
        text-align: left;
    }

    #nav-toggle:checked + .sidebar li a {
        padding-left: 15px;
    }

    #nav-toggle:checked + .sidebar .sidebar-brand h2 span:last-child,
    #nav-toggle:checked + .sidebar li a span:last-child {
        display: inline;
    }

    #nav-toggle:checked ~ .main-content {
        margin-left: 0;
    }
}

@media only screen and (max-width: 576px) {
    .information,
    .list-box {
        margin-top: 50px;
    }

    .sidebar-brand {
        margin-top: 80px;
    }
}
